<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css" type="text/css">
    <title>Index</title>
</head>

<body>
    <nav>
        <a href="/products/new">Add a New Product</a>
    </nav>
    <h1>Products index page</h1>
    <ul>
        <!-- <fieldset> -->
        <% products.forEach(product=> { %>
            <li>
                <a class="link" href="/products/<%= product._id; %>">
                    <%=product.name; %>
                </a>
                
            </li>
            <% }) %>
                <!-- </fieldset> -->
    </ul>
</body>

</html>